@import 'todos.scss';
@import 'user.scss';

.nav-link{
  float: right;
  margin-top: 20px;
}

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.pic{
  border-radius:50%;
  margin-left:30px;

}
.p{
  padding-left:10px;
}
.pro{
  display:flex;
}
.blurr{
  opacity:0.5;
}
.picsize{
  height:80%
}
.intro{
  opacity:0;
  transition-duration: 4s;
}
.row:hover .intro{
  display:block;
  transition-duration: 2s;
  opacity:1;

  }
